<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Recent Photos

    <a data-toggle="collapse" href="#user_recent_photos_new_form">
      Add photo
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.recent_photos.each do |photo| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to photo.to_s, photo_path(photo) %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_recent_photos_new_form">
        <%= render partial: "users/user_recent_photos_new_form" %>
      </div>
    </div>

  </ul>
</div>
